section {
    margin: auto;
    float: right;
    width: 50%;
}

footer {
    clear: both;
}

section h1 {
    text-align: left;
    text-transform: lowercase;
    text-transform: capitalize;
}

section h1::first-letter {
    letter-spacing: 5px;
    color: coral;
}