#more-info {
    display: none
}

#read-more, #read-less {
    color: coral
}

#read-more:hover, #read-less:hover {
    cursor: pointer;
}

.slider figure {
    padding: 0px;
    margin-top: 50px;
    position: relative;
    background-color: transparent;
    text-align: center;
}

.slider figcaption {
    position: absolute;
    text-align: center;
    width: 100%;
    color: coral;
    font-weight: 900;
    bottom: 3px;
}

.slide {
    display: none;
}